<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azuriranje oglasa</title>   
    <style>
        table {margin-left: 600px;}
        th {background-color:blue;}
    </style>
</head>
<body>
    
    <nav>
        <a href="/svioglasi" style="font-size: 20px ;">Prikazi sve oglase</a>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;
        <a href="/dodajoglas" style="font-size: 20px ;">Dodaj oglas</a>
    </nav>
    <br><br>

    <h3>Azuriranje oglasa</h3><br><br>

    <table>
        <tbody>
            <form action="/snimiazuriranje" id="forma" method="POST">#{data}</form>
        </tbody>
    </table>
    <br><br>
</body>
</html>